.header{
    text-align: center;
    color: rgb(83, 24, 13);
    background-color: rgb(205, 142, 236);

}
.card{
    text-align: center;
}
.card-subtitle{
    color: rgba(15, 57, 130, 0.644);
    font-style: italic;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.card-subtitle1{
    color: rgba(199, 98, 93, 0.644);
    font-style: italic;
    font-size: 28px;
}